.login-container {
    mat-card {
        width: 30%;
        margin: auto;
        margin-top: 20%;
        text-align: center;

        mat-card-title {
            padding: 16px;
        }

        mat-form-field {
            width: 100%;
        }

        mat-error {
            margin-bottom: 16px;
        }
    }
}